In [1]:
import numpy as np
import math
import pandas as pd
from collections import Counter
from sklearn import model_selection
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.model_selection import StratifiedKFold

In [30]:
def geraF1(toClass, classificador): #toClass é o conjunto de treinamento
    
    f1 = 0
    
    if classificador == 'SVM':
        modelo = SVC()
    elif classificador == 'DT':
        modelo = DecisionTreeClassifier()
    
    #Separação do conjunto X e y
    XtoClass = toClass.iloc[:,1:]
    print(XtoClass)
    ytoClass = toClass.duplicata
    
    #Divisão dos conjuntos de treino e teste (20% para esse último)
    X_train, X_test, y_train, y_test = model_selection.train_test_split(XtoClass, ytoClass, test_size=0.20, random_state=2)
    
    #Validação cruzada
    #This cross-validation object is a variation of KFold that returns stratified folds. The folds are made by preserving the percentage of samples for each class.
    kfold = StratifiedKFold(n_splits=10, random_state=500) #n_splits igual ao tamanho do conjunto de treino?
    cv_results = model_selection.cross_val_score(modelo, X_train, y_train, cv=kfold, scoring='f1')
    f1 = cv_results.mean()
#     tamTreino = len(XtoClass)
    
    return f1#, tamTreino

In [2]:
#Leitura do conjunto de pares conflitantes
pc = "../../csv/conjuntosDS/NAO_DA3.csv"
# pc = pd.read_csv(pc, sep=';') #pares conflitantes
pc = pd.read_csv(pc, sep=';', index_col=['elemento1', 'elemento2']) #pares conflitantes
# pc

In [3]:
#Parâmetros do usuário (Definir entrada dos dados)
estat_ord = 'min' #Estatística para ordenamento
qtd_alg_nd = 1 #Quantidade máxima de algoritmos para separar o conjunto de possíves não-duplicadas
k = 3 #Tamanho da janela
orcamento = 100 #Ou uma porcentagem da base de dados

In [4]:
# pc.sort_values('qtdAlg')
pc_aa = pc.iloc[:, :5 ] #Conjunto onde serão aplicadas as janelas deslizantes
pc_vetores = pc.iloc[:, 5: ] #Conjunto base para compor o conjunto treinamento

# pc_aa = pc.loc[:, :'med' ]
# pc_vetor = pc.loc[:, 'med': ] #Como referenciar a coluna vizinha à 'med'?

In [25]:
#Separação do conjunto de pares conflitantes em dois a partir da quantidade de algoritmos 
#que aponta o par como possível duplicata 
#(conjunto A com quantidade de algoritmos = 1, com maioria composta por possíveis não-duplicatas,
#e conjunto B com quantidade de algoritmos > 1, contendo mais possíveis duplicatas que o conjunto A)
ndup = pc_aa.loc[pc['qtdAlg'] == qtd_alg_nd]
dup = pc_aa.loc[pc['qtdAlg'] != qtd_alg_nd]

#Ordenamento dos pares pela estatística selecionada
ndup = ndup.sort_values(estat_ord) 
dup = dup.sort_values(estat_ord, ascending=False)

In [6]:
ndup.head()

                     duplicata  qtdAlg       min       max       med
elemento1 elemento2
104289    105349           0.0       1  0.488872  0.488872  0.488872
102831    105349           0.0       1  0.492994  0.492994  0.492994
105349    105518           0.0       1  0.496958  0.496958  0.496958
103997    105349           0.0       1  0.504825  0.504825  0.504825
101480    107779           0.0       1  0.506742  0.506742  0.506742

In [7]:
dup.head()

                     duplicata  qtdAlg  min  max  med
elemento1 elemento2
7008      8831             1.0      22  1.0  1.0  1.0
4481      6716             1.0      22  1.0  1.0  1.0
2004      3710             1.0      10  1.0  1.0  1.0
7201      8536             1.0      19  1.0  1.0  1.0
4384      5657             1.0      20  1.0  1.0  1.0

In [8]:
len(dup) + len(ndup)

1101

In [10]:
#Criação do dataframe que armazenará o conjunto de treinamento

conj_treino = pd.DataFrame(columns=pc_vetores.columns.values)
conj_treino.insert(0,'duplicata', None)
conj_treino

Empty DataFrame
Columns: [duplicata, title, artist, track01, track02, track03, track10, track11]
Index: []

In [ ]:
#Percorrer o dataframe pelo tamanho da janela e comparar pares para seleção retornando o índice

#Acho que tenho q ?????

In [15]:
# jan_inic = 0 
# jan_fin = k

# #for orçamento ou f1 (Ajustar depois)

# #Indentar depois que ajustar o for
# grupo = ndup.iloc[jan_inic:jan_fin] # three rows of dataframe
    
# id_ndup_sel = grupo['min'].idxmax() #Retorna o índice da linha com maior valor da coluna ('min') especificada
# #     id_row_sel = grupo['min'].idxmin() #Retorna o índice da linha com menor valor da coluna ('min') especificada
    
# #Atualização da janela
# jan_inic = jan_inic + k + 1
# jan_fin = jan_fin + k

In [18]:
# #A partir do índice retornado, selecionar par de ndup e dup,
# #remover deles e de pc_vetores (não necessário, só manter a posição atual em que está a janela)
# #e adicionar ao dataframe conj_treino

# #Isso tem que estar dentro de um loop 
# #(tanto na primeira situação em que se tem o povoamento inicial do conjunto treinamento
# #quanto nas iterações convencionais seguintes)

# duplicata = grupo.loc[id_row_sel, 'duplicata'] #Status do par

# vetor_sel = pc_vetores.loc[id_row_sel]
# conj_treino = conj_treino.append(vetor_sel) #Adicionando o vetor selecionado ao conjunto treino
# conj_treino.loc[id_row_sel, 'duplicata'] = duplicata #Adicionando o status de duplicata do vetor selecionado ao conjunto treino

# # type(x) #pandas.core.series.Series (Em que isso implica? Apenas um DataFrame sem cabeçalho?)
# # type(grupo) #pandas.core.frame.DataFrame
# conj_treino

In [ ]:
continua = True
f1_anterior = 0
f1_atual = 0
f1_svm = 0
f1_dt = 0

jan_inic = 0 
jan_fin = k

while continua:

    #Desliza-se a janela
    grupo = ndup.iloc[jan_inic:jan_fin] # three rows of dataframe

    #SELEÇÃO DA POSSÍVEL NÃO-DUPLICATA
    #Seleciona-se o par com menor quantidade de pares em concordância (talvez selecionar o que teve maior concordância também?) para rotulação
    try:
    
        id_row_sel = grupo['min'].idxmax() #Retorna o índice da linha com maior valor da coluna ('min') especificada
    
    except ValueError:
        
        #Seleciona um aleatoriamente
        a = grupo.sample(n = 1, random_state=500) 
        id_row_sel = a.index.values #Retorna o índice da linha com maior valor da coluna ('min') especificada
#         id_row_sel = tuple(map(tuple, id_row_sel))
#         print(type(id_row_sel))
#         id_row_sel = id_row_sel[0]
#         print(id_row_sel)
    except:
        print('Eita!')

    #Rotula o par, retira do conjunto U (Nesse caso "pc_vetores" terá os pares retirados ao final da composição do conjunto de treinamento)
    duplicata = grupo.loc[id_row_sel, 'duplicata'] #Status do par

    vetor_sel = pc_vetores.loc[id_row_sel]
    conj_treino = conj_treino.append(vetor_sel) #Adicionando o vetor selecionado ao conjunto treino
    conj_treino.loc[id_row_sel, 'duplicata'] = duplicata #Adicionando o status de duplicata do vetor selecionado ao conjunto treino
    
    #SELEÇÃO DA POSSÍVEL DUPLICATA
    #Seleciona-se o par com menor quantidade de pares em concordância (talvez selecionar o que teve maior concordância também?) para rotulação
    grupo = dup.iloc[jan_inic:jan_fin] # three rows of dataframe
    
    try:
    
        id_row_sel = grupo['qtdAlg'].idxmin() #Retorna o índice da linha com maior valor da coluna ('min') especificada
    #     id_row_sel = grupo['min'].idxmin() #Retorna o índice da linha com menor valor da coluna ('min') especificada

    except ValueError:
        
        #Seleciona um aleatoriamente
        a = grupo.sample(n = 1, random_state=500) 
        id_row_sel = a.index.values #Retorna o índice da linha com maior valor da coluna ('min') especificada
#         id_row_sel = tuple(map(tuple, id_row_sel))
# #         print(dtype(id_row_sel))
#         id_row_sel = id_row_sel[0]

    except:
        print('Eita!')

    #Rotula o par, retira do conjunto U (Nesse caso "pc_vetores" terá os pares retirados ao final da composição do conjunto de treinamento)
    duplicata = grupo.loc[id_row_sel, 'duplicata'] #Status do par

    vetor_sel = pc_vetores.loc[id_row_sel]
    conj_treino = conj_treino.append(vetor_sel) #Adicionando o vetor selecionado ao conjunto treino
    conj_treino.loc[id_row_sel, 'duplicata'] = duplicata #Adicionando o status de duplicata do vetor selecionado ao conjunto treino
    
    #Treina SVM e Decision Tree (justificar o pq) e verifica-se a média da medida de qualidade (f1, precision...)
    f1_svm = geraF1(conj_treino, 'SVM')
    f1_dt = geraF1(conj_treino, 'DT')
    
    f1_atual = (f1_svm + f1_dt)/2
    
    orcamento -= 1 #Têm que ser atualizado no povoamento inicial também
    
    if orcamento > 0 :
        
        if f1_atual > f1_anterior: #Selecionam-se novos pares para rotulação
            continua = True
        else:
            continua = False
            #Pensar a respeito: Máximo local, máximo global
            #Se a medida de qualidade for igual à anterior (por duas vezes?)
            #FALSE
    else:
        continua = False
    
    print("Quantidade de itens no conjunto de treinamento: {}".format(Counter(XtoClass)))
    
    dup = [i for i in conj_treino.duplicata if i == True]
    percentage = float(dup.count(True)/float(len(conj_treino))*100)
    print("{0}% de duplicatas.".format(str(percentage)[:6]))
                
    #Atualização da janela
    jan_inic = jan_inic + k + 1
    jan_fin = jan_fin + k

In [31]:
import sys

orcamento = 100
conj_treino = pd.DataFrame(columns=pc_vetores.columns.values)
conj_treino.insert(0,'duplicata', None)

continua = True
f1_anterior = 0
f1_atual = 0
f1_svm = 0
f1_dt = 0

jan_inic = 0 
jan_fin = k

tamTreino = 0

cont = 0

entrouExcept = False

while cont < 20:

#     print("orçamento atual: {0}.".format(orcamento))
    
    #Desliza-se a janela
    grupo = ndup.iloc[jan_inic:jan_fin] # three rows of dataframe

    #SELEÇÃO DA POSSÍVEL NÃO-DUPLICATA
    #Seleciona-se o par com menor quantidade de pares em concordância (talvez selecionar o que teve maior concordância também?) para rotulação
    
    entrouExcept = False
    
    try:
    
        id_row_sel = grupo['min'].idxmax() #Retorna o índice da linha com maior valor da coluna ('min') especificada
    
    except ValueError:
        
        entrouExcept = True
        
        #Seleciona um aleatoriamente
        a = grupo.sample(n = 1, random_state=500) 
        id_row_sel = a.index.values #Retorna o índice da linha com maior valor da coluna ('min') especificada
        id_row_sel = tuple(map(tuple, id_row_sel))
        print(type(id_row_sel))
        id_row_sel = id_row_sel[0]
#         print(id_row_sel)
    except:
        print('Eita!')

    #Rotula o par, retira do conjunto U (Nesse caso "pc_vetores" terá os pares retirados ao final da composição do conjunto de treinamento)
    duplicata = grupo.loc[id_row_sel, 'duplicata'] #Status do par
    
#     print("tipoDoId: {3} - entrouExcept: {2} - id: {0} - duplicata: {1}.".format(id_row_sel, duplicata, entrouExcept, type(id_row_sel)))          

    vetor_sel = pc_vetores.loc[id_row_sel]
    conj_treino = conj_treino.append(vetor_sel) #Adicionando o vetor selecionado ao conjunto treino
    conj_treino.loc[id_row_sel, 'duplicata'] = duplicata #Adicionando o status de duplicata do vetor selecionado ao conjunto treino
    
    #SELEÇÃO DA POSSÍVEL DUPLICATA
    #Seleciona-se o par com menor quantidade de pares em concordância (talvez selecionar o que teve maior concordância também?) para rotulação
    
    grupo = dup.iloc[jan_inic:jan_fin] # three rows of dataframe
    
    entrouExcept = False
    
    try:
    
        id_row_sel = grupo['qtdAlg'].idxmin() #Retorna o índice da linha com maior valor da coluna ('min') especificada
    #     id_row_sel = grupo['min'].idxmin() #Retorna o índice da linha com menor valor da coluna ('min') especificada

    except ValueError:
        
        entrouExcept = True
        
        #Seleciona um aleatoriamente
        a = grupo.sample(n = 1, random_state=500) 
        id_row_sel = a.index.values #Retorna o índice da linha com maior valor da coluna ('min') especificada
        id_row_sel = tuple(map(tuple, id_row_sel))
#         print(dtype(id_row_sel))
        id_row_sel = id_row_sel[0]

    except:
        print('Eita!')
        
    #Rotula o par, retira do conjunto U (Nesse caso "pc_vetores" terá os pares retirados ao final da composição do conjunto de treinamento)
    duplicata = grupo.loc[id_row_sel, 'duplicata'] #Status do par
          
#     print("tipoDoId: {3} - entrouExcept: {2} - id: {0} - duplicata: {1}.".format(id_row_sel, duplicata, entrouExcept, type(id_row_sel)))          

    vetor_sel = pc_vetores.loc[id_row_sel]
    conj_treino = conj_treino.append(vetor_sel) #Adicionando o vetor selecionado ao conjunto treino
    conj_treino.loc[id_row_sel, 'duplicata'] = duplicata #Adicionando o status de duplicata do vetor selecionado ao conjunto treino
    
    #Atualização da janela
    jan_inic = jan_inic + k + 1
    jan_fin = jan_fin + k + 1
    
    orcamento -= 1 #Têm que ser atualizado no povoamento inicial também
    
    cont += 1
    
print(conj_treino)


    
#Treina SVM e Decision Tree (justificar o pq) e verifica-se a média da medida de qualidade (f1, precision...)
f1_svm = geraF1(conj_treino, 'SVM')
f1_dt = geraF1(conj_treino, 'DT')
    
f1_atual = (f1_svm + f1_dt)/2

# print(f1_atual)
    

    
print("Quantidade de itens no conjunto de treinamento: {}".format(len(conj_treino)))

print("F1: {0}".format(f1_atual))
    
duplicatas = [i for i in conj_treino.duplicata if i == True]
percentage = float(duplicatas.count(True)/float(len(conj_treino))*100)
print("{0}% de duplicatas.".format(str(percentage)[:6]))

                  duplicata     title    artist   track01   track02   track03  \
(105349, 105518)        0.0  1.000000  0.000000  0.500000  0.454545  0.818182
(2004, 3710)            1.0  1.000000  0.000000  1.000000  1.000000  1.000000
(105349, 3710)          0.0  1.000000  0.000000  0.416667  0.909091  0.500000
(1858, 9637)            1.0  1.000000  0.000000  1.000000  1.000000  1.000000
(104099, 109651)        0.0  1.000000  0.000000  0.476190  0.178571  0.500000
(10064, 2819)           1.0  1.000000  1.000000  1.000000  1.000000  1.000000
(101480, 104418)        0.0  1.000000  0.000000  0.555556  0.318182  0.333333
(2187, 2418)            1.0  1.000000  0.000000  1.000000  1.000000  1.000000
(102670, 104289)        0.0  1.000000  0.000000  0.320000  0.545455  0.772727
(3159, 9969)            1.0  1.000000  1.000000  1.000000  0.979167  0.973684
(102831, 104099)        0.0  1.000000  0.000000  0.333333  0.214286  0.333333
(4306, 8636)            1.0  1.000000  1.000000  1.000000  1.000000  0.888889
(104117, 2004)          0.0  1.000000  0.000000  0.807692  0.434783  0.700000
(3529, 4114)            1.0  1.000000  1.000000  1.000000  0.952381  1.000000
(101502, 103056)        0.0  1.000000  0.000000  0.583333  0.500000  0.777778
(9348, 9485)            1.0  1.000000  1.000000  1.000000  1.000000  0.941176
(101021, 102514)        0.0  1.000000  0.000000  0.444444  0.642857  0.421053
(10061, 3517)           1.0  1.000000  1.000000  0.944444  1.000000  0.900000
(103997, 104099)        0.0  1.000000  0.000000  0.500000  0.428571  0.636364
(5835, 9278)            1.0  1.000000  1.000000  1.000000  1.000000  1.000000
(102831, 105076)        0.0  1.000000  0.000000  0.366667  0.545455  0.238095
(6740, 9193)            1.0  0.975000  1.000000  1.000000  1.000000  0.823529
(104289, 108429)        0.0  0.666667  0.000000  0.040000  0.550000  0.500000
(9421, 9489)            1.0  1.000000  1.000000  1.000000  0.900000  1.000000
(100717, 105098)        0.0  1.000000  0.000000  0.300000  0.466667  0.500000
(6102, 9115)            1.0  1.000000  1.000000  1.000000  1.000000  0.952381
(100558, 102831)        0.0  1.000000  0.000000  0.200000  0.428571  0.476190
(6756, 8537)            1.0  0.880000  1.000000  1.000000  0.928571  1.000000
(103997, 105076)        0.0  1.000000  0.000000  0.550000  0.916667  0.454545
(6382, 7920)            1.0  1.000000  1.000000  1.000000  0.750000  1.000000
(100717, 106511)        0.0  1.000000  0.000000  0.233333  0.483871  0.578947
(3670, 7515)            1.0  1.000000  1.000000  0.869565  0.875000  0.866667
(103997, 104117)        0.0  1.000000  0.000000  0.769231  0.521739  0.785714
(10314, 8640)           1.0  1.000000  0.777778  1.000000  1.000000  1.000000
(101021, 102831)        0.0  1.000000  0.000000  0.800000  0.666667  0.380952
(6382, 8494)            1.0  0.955556  1.000000  1.000000  1.000000  1.000000
(105076, 2004)          0.0  1.000000  0.000000  0.458333  0.909091  0.250000
(1884, 9542)            1.0  1.000000  1.000000  0.777778  0.906250  0.769231
(103997, 108429)        0.0  1.000000  0.000000  0.000000  0.600000  0.818182
(9333, 9450)            1.0  1.000000  1.000000  1.000000  1.000000  1.000000

                   track10   track11
(105349, 105518)  0.454545  0.818182
(2004, 3710)      1.000000  1.000000
(105349, 3710)    0.909091  0.500000
(1858, 9637)      1.000000  1.000000
(104099, 109651)  0.178571  0.500000
(10064, 2819)     1.000000  1.000000
(101480, 104418)  0.318182  0.333333
(2187, 2418)      1.000000  1.000000
(102670, 104289)  0.545455  0.772727
(3159, 9969)      0.979167  0.973684
(102831, 104099)  0.214286  0.333333
(4306, 8636)      1.000000  0.888889
(104117, 2004)    0.434783  0.700000
(3529, 4114)      0.952381  1.000000
(101502, 103056)  0.500000  0.777778
(9348, 9485)      1.000000  0.941176
(101021, 102514)  0.642857  0.421053
(10061, 3517)     1.000000  0.900000
(103997, 104099)  0.428571  0.636364
(5835, 9278)      1.000000  1.000000
(102831, 105076)  0.545455  0.238095
(6740, 9193)      1.000000  0.823529
(104289, 108429)  0.550000  0.500000
(9421, 9489)      0.900000  1.000000
(100717, 105098)  0.466667  0.500000
(6102, 9115)      1.000000  0.952381
(100558, 102831)  0.428571  0.476190
(6756, 8537)      0.928571  1.000000
(103997, 105076)  0.916667  0.454545
(6382, 7920)      0.750000  1.000000
(100717, 106511)  0.483871  0.578947
(3670, 7515)      0.875000  0.866667
(103997, 104117)  0.521739  0.785714
(10314, 8640)     1.000000  1.000000
(101021, 102831)  0.666667  0.380952
(6382, 8494)      1.000000  1.000000
(105076, 2004)    0.909091  0.250000
(1884, 9542)      0.906250  0.769231
(103997, 108429)  0.600000  0.818182
(9333, 9450)      1.000000  1.000000
                     title    artist   track01   track02   track03   track10  \
(105349, 105518)  1.000000  0.000000  0.500000  0.454545  0.818182  0.454545
(2004, 3710)      1.000000  0.000000  1.000000  1.000000  1.000000  1.000000
(105349, 3710)    1.000000  0.000000  0.416667  0.909091  0.500000  0.909091
(1858, 9637)      1.000000  0.000000  1.000000  1.000000  1.000000  1.000000
(104099, 109651)  1.000000  0.000000  0.476190  0.178571  0.500000  0.178571
(10064, 2819)     1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
(101480, 104418)  1.000000  0.000000  0.555556  0.318182  0.333333  0.318182
(2187, 2418)      1.000000  0.000000  1.000000  1.000000  1.000000  1.000000
(102670, 104289)  1.000000  0.000000  0.320000  0.545455  0.772727  0.545455
(3159, 9969)      1.000000  1.000000  1.000000  0.979167  0.973684  0.979167
(102831, 104099)  1.000000  0.000000  0.333333  0.214286  0.333333  0.214286
(4306, 8636)      1.000000  1.000000  1.000000  1.000000  0.888889  1.000000
(104117, 2004)    1.000000  0.000000  0.807692  0.434783  0.700000  0.434783
(3529, 4114)      1.000000  1.000000  1.000000  0.952381  1.000000  0.952381
(101502, 103056)  1.000000  0.000000  0.583333  0.500000  0.777778  0.500000
(9348, 9485)      1.000000  1.000000  1.000000  1.000000  0.941176  1.000000
(101021, 102514)  1.000000  0.000000  0.444444  0.642857  0.421053  0.642857
(10061, 3517)     1.000000  1.000000  0.944444  1.000000  0.900000  1.000000
(103997, 104099)  1.000000  0.000000  0.500000  0.428571  0.636364  0.428571
(5835, 9278)      1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
(102831, 105076)  1.000000  0.000000  0.366667  0.545455  0.238095  0.545455
(6740, 9193)      0.975000  1.000000  1.000000  1.000000  0.823529  1.000000
(104289, 108429)  0.666667  0.000000  0.040000  0.550000  0.500000  0.550000
(9421, 9489)      1.000000  1.000000  1.000000  0.900000  1.000000  0.900000
(100717, 105098)  1.000000  0.000000  0.300000  0.466667  0.500000  0.466667
(6102, 9115)      1.000000  1.000000  1.000000  1.000000  0.952381  1.000000
(100558, 102831)  1.000000  0.000000  0.200000  0.428571  0.476190  0.428571
(6756, 8537)      0.880000  1.000000  1.000000  0.928571  1.000000  0.928571
(103997, 105076)  1.000000  0.000000  0.550000  0.916667  0.454545  0.916667
(6382, 7920)      1.000000  1.000000  1.000000  0.750000  1.000000  0.750000
(100717, 106511)  1.000000  0.000000  0.233333  0.483871  0.578947  0.483871
(3670, 7515)      1.000000  1.000000  0.869565  0.875000  0.866667  0.875000
(103997, 104117)  1.000000  0.000000  0.769231  0.521739  0.785714  0.521739
(10314, 8640)     1.000000  0.777778  1.000000  1.000000  1.000000  1.000000
(101021, 102831)  1.000000  0.000000  0.800000  0.666667  0.380952  0.666667
(6382, 8494)      0.955556  1.000000  1.000000  1.000000  1.000000  1.000000
(105076, 2004)    1.000000  0.000000  0.458333  0.909091  0.250000  0.909091
(1884, 9542)      1.000000  1.000000  0.777778  0.906250  0.769231  0.906250
(103997, 108429)  1.000000  0.000000  0.000000  0.600000  0.818182  0.600000
(9333, 9450)      1.000000  1.000000  1.000000  1.000000  1.000000  1.000000

                   track11
(105349, 105518)  0.818182
(2004, 3710)      1.000000
(105349, 3710)    0.500000
(1858, 9637)      1.000000
(104099, 109651)  0.500000
(10064, 2819)     1.000000
(101480, 104418)  0.333333
(2187, 2418)      1.000000
(102670, 104289)  0.772727
(3159, 9969)      0.973684
(102831, 104099)  0.333333
(4306, 8636)      0.888889
(104117, 2004)    0.700000
(3529, 4114)      1.000000
(101502, 103056)  0.777778
(9348, 9485)      0.941176
(101021, 102514)  0.421053
(10061, 3517)     0.900000
(103997, 104099)  0.636364
(5835, 9278)      1.000000
(102831, 105076)  0.238095
(6740, 9193)      0.823529
(104289, 108429)  0.500000
(9421, 9489)      1.000000
(100717, 105098)  0.500000
(6102, 9115)      0.952381
(100558, 102831)  0.476190
(6756, 8537)      1.000000
(103997, 105076)  0.454545
(6382, 7920)      1.000000
(100717, 106511)  0.578947
(3670, 7515)      0.866667
(103997, 104117)  0.785714
(10314, 8640)     1.000000
(101021, 102831)  0.380952
(6382, 8494)      1.000000
(105076, 2004)    0.250000
(1884, 9542)      0.769231
(103997, 108429)  0.818182
(9333, 9450)      1.000000
                     title    artist   track01   track02   track03   track10  \
(105349, 105518)  1.000000  0.000000  0.500000  0.454545  0.818182  0.454545
(2004, 3710)      1.000000  0.000000  1.000000  1.000000  1.000000  1.000000
(105349, 3710)    1.000000  0.000000  0.416667  0.909091  0.500000  0.909091
(1858, 9637)      1.000000  0.000000  1.000000  1.000000  1.000000  1.000000
(104099, 109651)  1.000000  0.000000  0.476190  0.178571  0.500000  0.178571
(10064, 2819)     1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
(101480, 104418)  1.000000  0.000000  0.555556  0.318182  0.333333  0.318182
(2187, 2418)      1.000000  0.000000  1.000000  1.000000  1.000000  1.000000
(102670, 104289)  1.000000  0.000000  0.320000  0.545455  0.772727  0.545455
(3159, 9969)      1.000000  1.000000  1.000000  0.979167  0.973684  0.979167
(102831, 104099)  1.000000  0.000000  0.333333  0.214286  0.333333  0.214286
(4306, 8636)      1.000000  1.000000  1.000000  1.000000  0.888889  1.000000
(104117, 2004)    1.000000  0.000000  0.807692  0.434783  0.700000  0.434783
(3529, 4114)      1.000000  1.000000  1.000000  0.952381  1.000000  0.952381
(101502, 103056)  1.000000  0.000000  0.583333  0.500000  0.777778  0.500000
(9348, 9485)      1.000000  1.000000  1.000000  1.000000  0.941176  1.000000
(101021, 102514)  1.000000  0.000000  0.444444  0.642857  0.421053  0.642857
(10061, 3517)     1.000000  1.000000  0.944444  1.000000  0.900000  1.000000
(103997, 104099)  1.000000  0.000000  0.500000  0.428571  0.636364  0.428571
(5835, 9278)      1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
(102831, 105076)  1.000000  0.000000  0.366667  0.545455  0.238095  0.545455
(6740, 9193)      0.975000  1.000000  1.000000  1.000000  0.823529  1.000000
(104289, 108429)  0.666667  0.000000  0.040000  0.550000  0.500000  0.550000
(9421, 9489)      1.000000  1.000000  1.000000  0.900000  1.000000  0.900000
(100717, 105098)  1.000000  0.000000  0.300000  0.466667  0.500000  0.466667
(6102, 9115)      1.000000  1.000000  1.000000  1.000000  0.952381  1.000000
(100558, 102831)  1.000000  0.000000  0.200000  0.428571  0.476190  0.428571
(6756, 8537)      0.880000  1.000000  1.000000  0.928571  1.000000  0.928571
(103997, 105076)  1.000000  0.000000  0.550000  0.916667  0.454545  0.916667
(6382, 7920)      1.000000  1.000000  1.000000  0.750000  1.000000  0.750000
(100717, 106511)  1.000000  0.000000  0.233333  0.483871  0.578947  0.483871
(3670, 7515)      1.000000  1.000000  0.869565  0.875000  0.866667  0.875000
(103997, 104117)  1.000000  0.000000  0.769231  0.521739  0.785714  0.521739
(10314, 8640)     1.000000  0.777778  1.000000  1.000000  1.000000  1.000000
(101021, 102831)  1.000000  0.000000  0.800000  0.666667  0.380952  0.666667
(6382, 8494)      0.955556  1.000000  1.000000  1.000000  1.000000  1.000000
(105076, 2004)    1.000000  0.000000  0.458333  0.909091  0.250000  0.909091
(1884, 9542)      1.000000  1.000000  0.777778  0.906250  0.769231  0.906250
(103997, 108429)  1.000000  0.000000  0.000000  0.600000  0.818182  0.600000
(9333, 9450)      1.000000  1.000000  1.000000  1.000000  1.000000  1.000000

                   track11
(105349, 105518)  0.818182
(2004, 3710)      1.000000
(105349, 3710)    0.500000
(1858, 9637)      1.000000
(104099, 109651)  0.500000
(10064, 2819)     1.000000
(101480, 104418)  0.333333
(2187, 2418)      1.000000
(102670, 104289)  0.772727
(3159, 9969)      0.973684
(102831, 104099)  0.333333
(4306, 8636)      0.888889
(104117, 2004)    0.700000
(3529, 4114)      1.000000
(101502, 103056)  0.777778
(9348, 9485)      0.941176
(101021, 102514)  0.421053
(10061, 3517)     0.900000
(103997, 104099)  0.636364
(5835, 9278)      1.000000
(102831, 105076)  0.238095
(6740, 9193)      0.823529
(104289, 108429)  0.500000
(9421, 9489)      1.000000
(100717, 105098)  0.500000
(6102, 9115)      0.952381
(100558, 102831)  0.476190
(6756, 8537)      1.000000
(103997, 105076)  0.454545
(6382, 7920)      1.000000
(100717, 106511)  0.578947
(3670, 7515)      0.866667
(103997, 104117)  0.785714
(10314, 8640)     1.000000
(101021, 102831)  0.380952
(6382, 8494)      1.000000
(105076, 2004)    0.250000
(1884, 9542)      0.769231
(103997, 108429)  0.818182
(9333, 9450)      1.000000
Quantidade de itens no conjunto de treinamento: 40
F1: 0.9650000000000001
50.0% de duplicatas.

# Atenção!
## Depois ver como os índices de conj_treino interagem com o conjunto original

In [100]:
conj_treino

,duplicata,title,artist,track01,track02,track03,track10,track11
"(105349, 105518)",0.0,1.000000,0.0,0.500000,0.454545,0.818182,0.454545,0.818182
"(104289, 105349)",0.0,0.666667,0.0,0.400000,1.000000,0.454545,1.000000,0.454545
"(105349, 3710)",0.0,1.000000,0.0,0.416667,0.909091,0.500000,0.909091,0.500000
"(101480, 107779)",0.0,1.000000,0.0,0.375000,0.409091,0.400000,0.409091,0.400000
"(101480, 104396)",0.0,1.000000,0.0,0.461538,0.409091,0.833333,0.409091,0.833333
"(101480, 104396)",0.0,1.000000,0.0,0.461538,0.409091,0.833333,0.409091,0.833333

In [118]:
a = conj_treino.sample(n = 1, random_state=500)
a
type(a.index.values)

numpy.ndarray

In [117]:
vetor_sel = pc_vetores.loc[a.index.values]
vetor_sel
# type(vetor_sel)

,,title,artist,track01,track02,track03,track10,track11
elemento1,elemento2,,,,,,,
105349,105518,1.0,0.0,0.5,0.454545,0.818182,0.454545,0.818182

In [61]:
conj_treino = conj_treino.append(vetor_sel)
conj_treino

,artist,duplicata,title,track01,track02,track03,track10,track11
"(105349, 105518)",0.0,0.0,1.000000,0.500000,0.454545,0.818182,0.454545,0.818182
"(104289, 105349)",0.0,0.0,0.666667,0.400000,1.000000,0.454545,1.000000,0.454545
"(105349, 3710)",0.0,0.0,1.000000,0.416667,0.909091,0.500000,0.909091,0.500000
"(101480, 107779)",0.0,0.0,1.000000,0.375000,0.409091,0.400000,0.409091,0.400000
"(101480, 104396)",0.0,0.0,1.000000,0.461538,0.409091,0.833333,0.409091,0.833333
"(101480, 104396)",0.0,0.0,1.000000,0.461538,0.409091,0.833333,0.409091,0.833333
"(105349, 105518)",0.0,NaN,1.000000,0.500000,0.454545,0.818182,0.454545,0.818182
"(105349, 105518)",0.0,NaN,1.000000,0.500000,0.454545,0.818182,0.454545,0.818182

In [149]:
jan_inic = 0 
jan_fin = k

cont = 0

entrouExcept = False

while cont < 20:

#     print("orçamento atual: {0}.".format(orcamento))
    
    print("jan_inic: {0} - jan_fin: {1}.".format(jan_inic,jan_fin))          
    
    #Desliza-se a janela
    grupo = ndup.iloc[jan_inic:jan_fin] # three rows of dataframe
#     a = grupo.sample(n = 1, random_state=500)
#     print(a)

#     #SELEÇÃO DA POSSÍVEL NÃO-DUPLICATA
#     #Seleciona-se o par com menor quantidade de pares em concordância (talvez selecionar o que teve maior concordância também?) para rotulação
    
#     entrouExcept = False
    
#     try:
    
#         id_row_sel = grupo['min'].idxmax() #Retorna o índice da linha com maior valor da coluna ('min') especificada
    
#     except ValueError:
        
#         entrouExcept = True
        
#         #Seleciona um aleatoriamente
#         a = grupo.sample(n = 1, random_state=500) 
#         id_row_sel = a.index.values #Retorna o índice da linha com maior valor da coluna ('min') especificada
#         id_row_sel = tuple(map(tuple, id_row_sel))
#         print(type(id_row_sel))
#         id_row_sel = id_row_sel[0]
#         print(id_row_sel)
#     except:
#         print('Eita!')

#     #Rotula o par, retira do conjunto U (Nesse caso "pc_vetores" terá os pares retirados ao final da composição do conjunto de treinamento)
#     duplicata = grupo.loc[id_row_sel, 'duplicata'] #Status do par
    
#     print("tipoDoId: {3} - entrouExcept: {2} - id: {0} - duplicata: {1}.".format(id_row_sel, duplicata, entrouExcept, type(id_row_sel)))          

#     vetor_sel = pc_vetores.loc[id_row_sel]
#     conj_treino = conj_treino.append(vetor_sel) #Adicionando o vetor selecionado ao conjunto treino
#     conj_treino.loc[id_row_sel, 'duplicata'] = duplicata #Adicionando o status de duplicata do vetor selecionado ao conjunto treino
    
#     #SELEÇÃO DA POSSÍVEL DUPLICATA
#     #Seleciona-se o par com menor quantidade de pares em concordância (talvez selecionar o que teve maior concordância também?) para rotulação
    
#     entrouExcept = False
      
    #Atualização da janela
    jan_inic = jan_inic + k + 1
    jan_fin = jan_fin + k + 1
    
    orcamento -= 1 #Têm que ser atualizado no povoamento inicial também
    
    cont += 1
    print(grupo)

jan_inic: 0 - jan_fin: 3.
                     duplicata  qtdAlg       min       max       med
elemento1 elemento2
104289    105349           0.0       1  0.488872  0.488872  0.488872
102831    105349           0.0       1  0.492994  0.492994  0.492994
105349    105518           0.0       1  0.496958  0.496958  0.496958
jan_inic: 4 - jan_fin: 7.
                     duplicata  qtdAlg       min       max       med
elemento1 elemento2
101480    107779           0.0       1  0.506742  0.506742  0.506742
105349    3710             0.0       1  0.507576  0.507576  0.507576
          2004             0.0       1  0.507576  0.507576  0.507576
jan_inic: 8 - jan_fin: 11.
                     duplicata  qtdAlg       min       max       med
elemento1 elemento2
101480    104396           0.0       1  0.515396  0.515396  0.515396
102477    104117           0.0       1  0.517512  0.517512  0.517512
104099    109651           0.0       1  0.518417  0.518417  0.518417
jan_inic: 12 - jan_fin: 15.
                     duplicata  qtdAlg       min       max       med
elemento1 elemento2
104117    109651           0.0       1  0.525419  0.525419  0.525419
104099    105518           0.0       1  0.528091  0.528091  0.528091
101480    104418           0.0       1  0.542374  0.542374  0.542374
jan_inic: 16 - jan_fin: 19.
                     duplicata  qtdAlg       min       max       med
elemento1 elemento2
104099    2004             0.0       1  0.544048  0.544048  0.544048
100054    100521           0.0       1  0.544608  0.544608  0.544608
102670    104289           0.0       1  0.548200  0.548200  0.548200
jan_inic: 20 - jan_fin: 23.
                     duplicata  qtdAlg       min       max       med
elemento1 elemento2
102514    104117           0.0       1  0.551234  0.551234  0.551234
105518    108429           0.0       1  0.553392  0.553392  0.553392
102831    104099           0.0       1  0.555529  0.555529  0.555529
jan_inic: 24 - jan_fin: 27.
                     duplicata  qtdAlg       min       max       med
elemento1 elemento2
101480    101502           0.0       1  0.556580  0.556580  0.556580
          104167           0.0       1  0.562186  0.562186  0.562186
104117    2004             0.0       1  0.562669  0.562669  0.562669
jan_inic: 28 - jan_fin: 31.
                     duplicata  qtdAlg       min       max       med
elemento1 elemento2
104117    104289           0.0       1  0.564686  0.564686  0.564686
104289    105076           0.0       1  0.564984  0.564984  0.564984
101502    103056           0.0       1  0.565476  0.565476  0.565476
jan_inic: 32 - jan_fin: 35.
                     duplicata  qtdAlg       min       max       med
elemento1 elemento2
100558    105518           0.0       1  0.566024  0.566024  0.566024
100446    101502           0.0       1  0.568530  0.568530  0.568530
101021    102514           0.0       1  0.568730  0.568730  0.568730
jan_inic: 36 - jan_fin: 39.
                     duplicata  qtdAlg       min       max       med
elemento1 elemento2
100558    109651           0.0       1  0.570168  0.570168  0.570168
101021    102477           0.0       1  0.570244  0.570244  0.570244
103997    104099           0.0       1  0.571805  0.571805  0.571805
jan_inic: 40 - jan_fin: 43.
                     duplicata  qtdAlg       min       max       med
elemento1 elemento2
101021    103997           0.0       1  0.573265  0.573265  0.573265
102831    105076           0.0       1  0.575100  0.575100  0.575100
          107734           0.0       1  0.575100  0.575100  0.575100
jan_inic: 44 - jan_fin: 47.
                     duplicata  qtdAlg       min       max       med
elemento1 elemento2
104310    105098           0.0       1  0.578146  0.578146  0.578146
101021    106511           0.0       1  0.578830  0.578830  0.578830
104289    108429           0.0       1  0.580804  0.580804  0.580804
jan_inic: 48 - jan_fin: 51.
                     duplicata  qtdAlg       min       max       med
elemento1 elemento2
108429    2004             0.0       1  0.580833  0.580833  0.580833
102831    104117           0.0       1  0.583589  0.583589  0.583589
100717    105098           0.0       1  0.583644  0.583644  0.583644
jan_inic: 52 - jan_fin: 55.
                     duplicata  qtdAlg       min       max       med
elemento1 elemento2
102477    104099           0.0       1  0.584286  0.584286  0.584286
101021    105066           0.0       1  0.588731  0.588731  0.588731
100558    102831           0.0       1  0.590223  0.590223  0.590223
jan_inic: 56 - jan_fin: 59.
                     duplicata  qtdAlg       min       max       med
elemento1 elemento2
105076    105518           0.0       1  0.590680  0.590680  0.590680
100446    107779           0.0       1  0.591395  0.591395  0.591395
103997    105076           0.0       1  0.592456  0.592456  0.592456
jan_inic: 60 - jan_fin: 63.
                     duplicata  qtdAlg       min       max       med
elemento1 elemento2
100446    104396           0.0       1  0.594259  0.594259  0.594259
          103830           0.0       1  0.596558  0.596558  0.596558
100717    106511           0.0       1  0.597537  0.597537  0.597537
jan_inic: 64 - jan_fin: 67.
                     duplicata  qtdAlg       min       max       med
elemento1 elemento2
102670    3710             0.0       1  0.598333  0.598333  0.598333
104117    104872           0.0       1  0.598819  0.598819  0.598819
103997    104117           0.0       1  0.599097  0.599097  0.599097
jan_inic: 68 - jan_fin: 71.
                     duplicata  qtdAlg       min       max       med
elemento1 elemento2
103056    103830           0.0       1  0.602381  0.602381  0.602381
100558    2004             0.0       1  0.602899  0.602899  0.602899
101021    102831           0.0       1  0.603444  0.603444  0.603444
jan_inic: 72 - jan_fin: 75.
                     duplicata  qtdAlg       min       max       med
elemento1 elemento2
105076    2004             0.0       1  0.604242  0.604242  0.604242
107734    3710             0.0       1  0.604242  0.604242  0.604242
105076    3710             0.0       1  0.604242  0.604242  0.604242
jan_inic: 76 - jan_fin: 79.
                     duplicata  qtdAlg       min       max       med
elemento1 elemento2
102831    108429           0.0       1  0.604689  0.604689  0.604689
102670    103997           0.0       1  0.607895  0.607895  0.607895
103997    108429           0.0       1  0.609474  0.609474  0.609474

In [147]:
len(ndup)

758